html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
}
.allPages{
    width: 100%;
    height: 100%;
    
}
.topMenu {
    border: solid black 1px;
    width : 100%;
    height: 25px;
}

.leftMenu {
 border: solid red 1px;
    width: 10%;
    height: 500px;
}


.tootsy {

}
